  
  table {
      width: 100%;
      border: 2px solid black;
      border-collapse: collapse;
  }

  th,
  td {
      border-bottom: 1px solid gray;
      text-align: left;
      padding: 5px;
  }

  tr:nth-child(odd) {
      background-color: #f2f2f2;
  }
  tr.header{
    background-color: unset;
  }

  h1.header {
    text-align: center;
  }
